# systemd service definition for rocketbooth.
# Copy to /etc/systemd/system/rocketbooth.service.
# To enable launching rocketbooth on startup, use: sudo systemctl enable rocketbooth.service
[Unit]
Description=Rocketbooth photobooth service
Requires=local-fs.target
After=local-fs.target

[Service]
ExecStart=/home/pi/rocketbooth/rocketbooth
User=pi
WorkingDirectory=/home/pi/rocketbooth

[Install]
WantedBy=multi-user.target